<body>
<header>
  <div class="title">
    Staff List
  </div>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <div class="login">
    <%= link_to current_user.name, root_path(current_user), class: "shop" %>
  </div>
</header>

<main>
  <div class="maintop1">
    <div class="form_staff">
      <div class="title_a">
        スタッフ登録
      </div>
      <div class="form_staff_create_form">
        <div class="form_staff_create_area">
          <%=form_with model: @staff, local: true do |f|%> 
          <div class="form_staff_label">
            <%= f.label 'Nick Name', class: 'menu-label'%> 
          </div>
          <div class="form_staff_text">
            <%= f.text_field :nickname, class: 'form__input', placeholder: 'スタッフ名を入力'%> 
          </div>
          <div class="form_staff_btn">
            <%= f.submit 'Push', class: 'action-btn'%>
          </div>
          <div class="alert-warning1">
            <%= render 'layouts/error_messages', model: f.object %>
          </div>
          <% end %> 
        </div>
      </div>
    </div>

    <div class="list_staff">
      <div class="title_a">
        スタッフ一覧
      </div>
      <div class="list_staff_list">
        <div class="staff_lists">
          <% current_user.staffs.order(:id).each do |staff| %>
            <div class="staff_list">
              <%= staff.nickname %> <%= link_to '×', staff_path(staff.id), method: :delete, data: {"turbolinks" => false}, class: 'ou'%>
            </div>
          <% end %> 
        </div>
      </div>
    </div>

    <div class="main_menu">
      <div class="title_a">
        トップメニュー
      </div>
      <div class="top_menu_lists">
        <div class="top_memu_list">
          <ul>
            <li><%= link_to 'メニュー', menus_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to 'ゲスト', guests_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to 'シフト', shifts_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to '伝票', checkrooms_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to '売上', allsales_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'out'%>
  </div>
</footer>
</body>
