<body>
<header>
  <div class="title">
    MENU LIST
  </div>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <div class="login">
    <%= link_to current_user.name, root_path(current_user), data: {"turbolinks" => false}, class: "shop" %>
  </div>
</header>

<main>
  <div class="maintop1">
    <div class="form_staff">
      <div class="title_a">
        メニュー登録
      </div>
      <div class="form_staff_create_form">
        <div class="form_staff_create_area">
          <%=form_with model: @menu, local: true do |f|%>
          <div class="form_staff_label">
            <%= f.label 'MENU Name', class: 'menu-label'%> 
          </div>
          <div class="form_staff_text">
            <%= f.text_field :menu_name, placeholder: '商品名を入力'%> 
          </div>
          <div class="form_staff_label">
            <%= f.label 'Price', class: 'price-label'%> 
          </div>
          <div class="form_staff_text">
            <%= f.text_field :price, placeholder: '値段を入力(半角数字)'%>
          </div>
          <div class="form_staff_btn">
            <%= f.submit 'Push', class: 'action-btn'%>
          </div>
          <div class="alert-warning1">
            <%= render 'layouts/error_messages', model: f.object %>
          </div>
          <% end %> 
        </div>
      </div>
    </div>

    <div class="list_menu">
      <div class="title_a">
        メニュー一覧
      </div>
      <div class="list_menu_list">
        <div class="menu_lists">
          <% current_user.menus.order("price").each do |menu| %>
          <div class="menu_block">
            <div class="menu_list">
              <%= menu.menu_name %>
            </div>
            <div class="menu_list">
              ¥<%= menu.price %> <%= link_to '×', menu_path(menu.id), method: :delete, data: {"turbolinks" => false}, class: 'ou'%>
            </div>
          </div>
          <% end %> 
        </div>
      </div>
    </div>

    <div class="main_menu">
      <div class="title_a">
        トップメニュー
      </div>
      <div class="top_menu_lists">
        <div class="top_memu_list">
          <ul>
            <li><%= link_to 'スタッフ', staffs_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to 'ゲスト', guests_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to '伝票', checkrooms_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to '売上', allsales_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {"turbolinks" => false}, class: 'out'%>
  </div>
</footer>
</body>
