<body>
<header>
  <div class="title">
    伝票 編集
  </div>
<div class="todays">
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
</div>
  <div class="login">
    ショップ名:<%= link_to current_user.name, root_path(current_user), class: "shop" %>
  </div>
</header>
<main>
<div class="maintop">
  <div class="searchall1">
    <div class="search_list">
      <div class="day">
        
      </div>
      <div class="day">
        お客様名
      </div>
      <div class="day">
        担当スタッフ
      </div>
      <div class="day">
        客数
      </div>
      <div class="day">
      </div>
    </div>

    <div class="searchall30">
      <div class="search1">
        <div class="searchday">
         
        </div>
        <div class="searchstaff">
          <%= @checkrooms.room_name %>
        </div>
        <div class="searchguest">
          <%= @checkrooms.staff_name %>
        </div>
        <div class="searchallprice">
          <%= @checkrooms.how_many %>名様
        </div>
        <div class="searchpayment">
        
        </div>
      </div>

      <div class="search1">
        <div class="searchday">
          <P class="s">修正フォーム　→</p>
        </div>
        <div class="searchstaff">
        <%=form_with model: @checkrooms, local: true do |f|%>
          <%= f.collection_select :room_name, @guest, :guest_name, :guest_name, include_blank: "ゲスト選択", class: 'shift_staff_serect1' %>
        </div>
        <div class="searchguest">
          <%= f.collection_select :staff_name, @staff, :nickname, :nickname, include_blank: "スタッフ選択", class: 'shift_staff_serect1' %>
        </div>
        <div class="searchallprice">
          <%= f.number_field :how_many, value:@checkrooms.how_many, step: "1", min: "1",class: 'check_howmany_input' %>名様
        </div>
        <div class="searchpayment">
          <%= f.submit '修正する', :name => 'update',class: 'action-btn1' %>
        <%end%>
        </div>
      </div>
    </div>
    
    <div class="allprice_list">
      <div class="allsalelogo">
        
      </div>
      <div class="allsalelogo">
        
      </div>
      <div class="allsalelogo">
        初回作成時間
      </div>
      <div class="allsalelogo">
        最終修正時間
      </div>
    </div>
    <div class="searchalls">
      <div class="searchall">
        
      </div>
      <div class="searchall">
        
      </div>
      <div class="searchall">
        <%= @checkrooms.created_at.strftime("%m/%d %H:%M") %>
      </div>
      <div class="searchall">
        <%= @checkrooms.updated_at.strftime(" %m/%d %H:%M") %>
      </div>
    </div>
    <%= link_to '戻る', checkrooms_path, class:"top" %>
  </div>
</div>
</main>
<footer>
  <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'out'%>
  </div>
</footer>
</body>