<body>
<header>
  <div class="title">
    ゲスト登録,一覧
  </div>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <div class="login">
    ショップ名:<%= link_to current_user.name, root_path(current_user), data: {"turbolinks" => false}, class: "shop" %>
  </div>
</header>

<main>
  <div class="maintop1">
    <div class="form_staff">
      <div class="title_a">
        ゲスト登録
      </div>
      <div class="form_staff_create_form">
        <div class="form_staff_create_area">
          <%=form_with model: @guest, local: true do |f|%>
          <div class="form_staff_label">
            <%= f.label 'Guest Name', class: 'menu-label'%>
          </div>
          <div class="form_staff_text">
            <%= f.text_field :guest_name, placeholder: 'お客様名を入力'%>
          </div>
          <div class="form_staff_label">
            <%= f.label 'Gender', class: 'price-label'%>
          </div>
          <div class="form_staff_text">
             <%= f.select :gender, {'男性': 1, '女性': 2, 'その他': 3}, { include_blank: '性別選択'}, { class: 'chat__room_name chat-room-form__input' } %>
          </div>
          <div class="form_staff_btn">
            <%= f.submit 'Push', class: 'action-btn'%>
          </div>
          <div class="alert-warning1">
            <%= render 'layouts/error_messages', model: f.object %>
          </div>
          <% end %> 
        </div>
      </div>
    </div>

    <div class="list_menu">
      <div class="title_a">
        ゲスト一覧
      </div>
      <div class="list_staff_list">
        <div class="staff_lists">
          <% current_user.guests.order("guest_name DESC").each do |guest| %>
          <div class="staff_lists1">
            <div class="staff_list">
              <%= guest.guest_name %>
            </div>
            <div class="dele">
              <%= link_to '削除', guest_path(guest.id), method: :delete, data: {"turbolinks" => false}, class: 'ou'%>
            </div>
          </div>
          <% end %> 
        </div>
      </div>
    </div>

    <div class="main_menu">
      <div class="title_a">
        トップメニュー
      </div>
      <div class="top_menu_lists">
        <div class="top_memu_list">
          <ul>
            <li><%= link_to 'スタッフ', staffs_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to 'メニュー', menus_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to 'タイムカード', shifts_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to '伝票', checkrooms_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to '勤怠データ', shift_lists_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
            <li><%= link_to '売上', allsales_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {"turbolinks" => false}, class: 'out'%>
  </div>
</footer>
</body>