<body>
<header>
  <div class="title">
    GUEST LIST
  </div>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <div class="login">
    <%= link_to current_user.name, root_path(current_user), data: {"turbolinks" => false}, class: "shop" %>
  </div>
</header>

<main>
  <div class="main">
    <div class="menuber">
      <div class="ham" id="ham">
	      <span class="ham_line ham_line1"></span>
	      <span class="ham_line ham_line2"></span>
	      <span class="ham_line ham_line3"></span>
      </div>

      <div class="menu_wrapper" id="menu_wrapper">
	      <div class="menu">
    	    <%=form_with model: @guest, local: true do |f|%>
          <div class='chat-room-form__field'>
            <div class='chat-room-form__field--left'>
              <%= f.label 'Guest Name', class: 'menu-label'%>
            </div>
            <div class='chat-room-form__field--right'>
              <%= f.text_field :guest_name, class: 'chat__room_name chat-room-form__input', placeholder: 'お客様名を入力'%>
            </div>
          </div>
          <div class='chat-room-form__field'>
          <div class='chat-room-form__field--left'>
            <%= f.label 'Gender', class: 'price-label'%>
          </div>
          <div class='chat-room-form__field--right'>
            <%= f.select :gender, {'男性': 1, '女性': 2}, { include_blank: '性別選択'}, { class: 'chat__room_name chat-room-form__input' } %>
          </div>
        </div>
        <div class='chat-room-form__field'>
        </div>
        <div class='chat-room-form__field'>
          <div class='chat-room-form__field--left'></div>
          <div class='chat-room-form__field--right'>
            <%= f.submit 'Push', class: 'action-btn'%>
          </div>
        </div>
        <% end %>
	      </div>
      </div>
    </div>

    <div class="createform2">
      <div class="ham2" id="ham2">
	      <span class="ham_line ham_line1"></span>
	      <span class="ham_line ham_line2"></span>
	      <span class="ham_line ham_line3"></span>
      </div>

      <div class="menu_wrapper" id="menu_wrapper2">
        <div class="menu2">
          <div class="menus-all">
            ゲスト一覧
            <% current_user.guests.order("guest_name DESC").each do |guest| %>
            <div class="menus">
              <div class="menus-name2">
                <%= guest.guest_name %> 
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="createform3">
      <div class="ham3" id="ham3">
	      <span class="ham_line ham_line1"></span>
	      <span class="ham_line ham_line2"></span>
	      <span class="ham_line ham_line3"></span>
      </div>

      <div class="menu_wrapper" id="menu_wrapper3">
        <div class="menu3">
          <div class="menus-all1">
            トップメニュー
            <div class="menu-btn1">
              <%= link_to 'メニュー', menus_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %>
            </div>
            <div class="guest-btn1">
              <%= link_to 'スタッフ', staffs_path(current_user), data: {"turbolinks" => false}, class: "guestbtn1" %>
            </div>
            <div class="chackroom-btn1">
              <%= link_to '伝票', menus_path(current_user), data: {"turbolinks" => false}, class: "chackroombtn1" %>
            </div>
            <div class="allsale-btn1">
              <%= link_to '売上', menus_path(current_user), data: {"turbolinks" => false}, class: "allsalebtn1" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {"turbolinks" => false}, class: 'out'%>
  </div>
</footer>
</body>

<script>
  const ham = document.getElementById('ham');
  const menu_wrapper = document.getElementById('menu_wrapper');
  ham.addEventListener('click',function() {
	ham.classList.toggle('clicked');
	menu_wrapper.classList.toggle('clicked');
  });
</script>

<script>
  const ham2 = document.getElementById('ham2');
  const menu_wrapper2 = document.getElementById('menu_wrapper2');
  ham2.addEventListener('click',function() {
	ham2.classList.toggle('clicked');
	menu_wrapper2.classList.toggle('clicked');
  });
</script>

<script>
  const ham3 = document.getElementById('ham3');
  const menu_wrapper3 = document.getElementById('menu_wrapper3');
  ham3.addEventListener('click',function() {
	ham3.classList.toggle('clicked');
	menu_wrapper3.classList.toggle('clicked');
  });
</script>