<body>
<header>
  <div class="title">
    CHECK PAPER
  </div>
  <div class="login">
    <%= link_to current_user.name, edit_user_path(current_user), class: "shop" %>
  </div>
</header>
<main>
  <div class="maintop">
      <div class="createbtn">
        <%= link_to "メニュー登録、一覧", menus_path(current_user), class:"menubtn"%>
        <%= link_to "ゲスト登録、一覧", guests_path(current_user), class:"guestbtn"%>
        <%= link_to "スタッフ登録、一覧", staffs_path(current_user), class:"staffbtn"%>
        <%= link_to "伝票作成", checkrooms_path(current_user), class:"checkroombtn"%>
        <%= link_to "売上検索", allsales_path(current_user), class:"allsalebtn"%>
        <%= link_to "タイムカード", shifts_path(current_user), class:"shiftbtn"%>
        <%= link_to "勤怠データ", shift_lists_path(current_user), class:"shift_listbtn"%>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'out'%>
  </div>
</footer>
</body>

