<body>
<header>
  <div class="title">
    CHECK PAPER
  </div>
  <div class="login">
    <%= link_to current_user.name, edit_user_path(current_user), class: "shop" %>
  </div>
</header>
<main>
  <div class="maintop">
    <div class="imag">
      <img src="/assets/img_logo_pc.jpeg" alt="">
      <div class="createbtn">
        <%= link_to "メニュー", menus_path(current_user), class:"menubtn"%>
        <%= link_to "ゲスト", guests_path(current_user), class:"guestbtn"%>
        <%= link_to "スタッフ", staffs_path(current_user), class:"staffbtn"%>
        <%= link_to "オーダー", checkrooms_path(current_user), class:"checkroombtn"%>
        <%= link_to "セールス", allsales_path(current_user), class:"allsalebtn"%>
        <%= link_to "シフト", shifts_path(current_user), class:"shiftbtn"%>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'out'%>
  </div>
</footer>
</body>

