<body>
<header>
  <div class="title">
    All Sales
  </div>
  <div class="login">
    <%= link_to current_user.name, root_path(current_user), class: "shop" %>
  </div>
</header>
<main>
  <div class="menuber">
    <div class="ham30" id="ham">
	    <span class="ham_line ham_line1"></span>
	    <span class="ham_line ham_line2"></span>
	    <span class="ham_line ham_line3"></span>
    </div>

    <div class="menu_wrapper" id="menu_wrapper">
	    <div class="menu30">
    	  <div class="menus-all1">
          トップメニュー
          <div class="menu-btn1">
            <%= link_to 'スタッフ', staffs_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %>
          </div>
          <div class="guest-btn1">
            <%= link_to 'ゲスト', guests_path(current_user), data: {"turbolinks" => false}, class: "guestbtn1" %>
          </div>
          <div class="chackroom-btn1">
            <%= link_to '伝票', checkrooms_path(current_user), data: {"turbolinks" => false}, class: "chackroombtn1" %>
          </div>
          <div class="allsale-btn1">
            <%= link_to 'メニュー', menus_path(current_user), data: {"turbolinks" => false}, class: "allsalebtn1" %>
          </div>
        </div>
	    </div>
    </div>
  </div>
  <div class="search">
    <div class="wa">売上検索</div>
      <%= search_form_for @q, url: search_allsales_path do |f| %>
        <div class="wb">
          <%= f.date_field :created_at_gteq %> ~
          <%= f.date_field :created_at_lteq_end_of_day %>
        </div>
        <div class="wc">
          <%= f.collection_select :checkstaff_eq, @staff, :nickname, :nickname, include_blank: "スタッフ選択", class: 'wf' %>
        </div>
        <div class="wd">
          <%= f.submit '検索' %>
        </div>
      <% end %>
  </div>
</main>
<footer>
  <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'out'%>
  </div>
</footer>
</body>

<script>
  const ham = document.getElementById('ham');
  const menu_wrapper = document.getElementById('menu_wrapper');
  ham.addEventListener('click',function() {
	ham.classList.toggle('clicked');
	menu_wrapper.classList.toggle('clicked');
  });
</script>