<body>
<header>
  <div class="title">
    All Sales
  </div>
  <div class="login">
    <%= link_to current_user.name, root_path(current_user), class: "shop" %>
  </div>
</header>
<main>
<div class="maintop5">
  <div class="main_menu">
    <div class="title_a">
      トップメニュー
    </div>
    <div class="top_menu_lists">
      <div class="top_memu_list">
        <ul>
          <li><%= link_to 'メニュー', menus_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
          <li><%= link_to 'ゲスト', guests_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
          <li><%= link_to '伝票', checkrooms_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
          <li><%= link_to 'スタッフ', staffs_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="search">
    <div class="searchs">
      <div class="wa">売上検索</div>
      <%= search_form_for @q, url: search_allsales_path do |f| %>
        <div class="wb">
          <%= f.date_field :created_at_gteq %> ~
          <%= f.date_field :created_at_lteq_end_of_day %>
        </div>
        <div class="wc">
          <%= f.collection_select :checkstaff_eq, @staff, :nickname, :nickname, include_blank: "スタッフ選択", class: 'wf' %>
        </div>
        <div class="wc">
          <%= f.collection_select :checkguest_eq, @allsale.select(:checkguest).distinct, :checkguest, :checkguest, include_blank: "ゲスト選択", class: 'wf' %>
        </div>
        <div class="wd">
          <%= f.submit '検索', class: "submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</main>
<footer>
  <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'out'%>
  </div>
</footer>
</body>

<script>
  const ham = document.getElementById('ham');
  const menu_wrapper = document.getElementById('menu_wrapper');
  ham.addEventListener('click',function() {
	ham.classList.toggle('clicked');
	menu_wrapper.classList.toggle('clicked');
  });
</script>