<body>
<header>
  <div class="title">
    All Sales
  </div>
<div class="todays">
  <div class="today" id="view_clock"></div>
</div>
  <div class="login">
    <%= link_to current_user.name, root_path(current_user), class: "shop" %>
  </div>
</header>
<main>
<div class="maintop">
  <div class="searchall1">
    <div class="search_list">
      <div class="day">
        清算日
      </div>
      <div class="day">
        スタッフ
      </div>
      <div class="day">
        ゲスト
      </div>
      <div class="day">
        支払済料金
      </div>
      <div class="day">
        支払方法
      </div>
    </div>
    <div class="searchall30">
      <% @results.each do |allsale| %>
      <div class="search1">
        <div class="searchday">
          <%= allsale.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div class="searchstaff">
          <%= allsale.checkstaff%>
        </div>
        <div class="searchguest">
          <%= allsale.checkguest%>
        </div>
        <div class="searchallprice">
          ¥<%= allsale.allprice%>
        </div>
        <div class="searchpayment">
          <%= allsale.payment %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="allprice_list">
      <div class="allsalelogo">
        合計
      </div>
      <div class="allsalelogo">
        現金
      </div>
      <div class="allsalelogo">
        クレジットカード
      </div>
      <div class="allsalelogo">
        電子マネー
      </div>
    </div>
    <div class="searchalls">
      <div class="searchall">
        ¥<%= @results.sum(:allprice) %>
      </div>
      <div class="searchall">
        ¥<%= @results.where(payment:'現金').sum(:allprice) %>
      </div>
      <div class="searchall">
        ¥<%= @results.where(payment:'クレジットカード').sum(:allprice) %>
      </div>
      <div class="searchall">
        ¥<%= @results.where(payment:'電子マネー').sum(:allprice) %>
      </div>
    </div>
    <%= link_to '戻る', allsales_path, class:"top" %>
  </div>
</div>
</main>
<footer>
  <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'out'%>
  </div>
</footer>
</body>