<div class="upper-message">
  <div class="message-date">
    <%= l check.created_at %>
  </div>
  <div class="message-name">
    <%= check.menuname %>
  </div>
  <div class="cup">
    ×<%= check.cup %>
  </div>
  <div class="message-content">
    ¥<%= check.menuallprice %>
  </div> 
  <div class="del">
    <% if Allsale.exists?(checkroom_id: params[:checkroom_id]) %>
    <% else %>
    <%= link_to "取消", checkroom_check_path(@checkrooms,check), method: :delete, data: {"turbolinks" => false} %>
    <% end %>
  </div>
</div>
