<div class="maintop4">
  <div class="check_room_show">
    <div class="title_a">
          伝票
    </div>
    <div class="check_room_names">
      <div class="check_room_name">
        <%= @checkrooms.room_name %>
      </div>
      <div class="check_hawmany">
        <%= @checkrooms.how_many%>名
        <%= link_to "削除", checkroom_path(@checkrooms), method: :delete, data: {"turbolinks" => false} %> 
      </div>
    </div>
    <div class="message1">
      <%= render partial: 'check', collection: @checks %>
    </div>
    <%= render "allsales/allsales" %>
  </div>
  <div class="check_create">
    <div class="title_a">
      オーダー
    </div>
    <div class="check_create_form">
      <%= form_with model: [@checkrooms, @check], class: 'form', local: true do |f| %>
        <div class="check_create_form1">
          <%= f.collection_select :menuprice, @menus, :price, :menu_name, {include_blank: "メニュー選択"}, {class:"menuname", id:"ab",onchange:"myfunc()"} %>
        </div>
        <div class="check_create_link">
          <%= link_to 'メニュー登録へ', menus_path(current_user), data: {"turbolinks" => false}, class: "menubtn1" %>
        </div>
        <div class="check_create_count">
          <%= f.number_field :cup, step: "1", min: "1", class: 'cups', placeholder: '注文数', id: 'gh', size: 4 , onchange:"myfunc()" %> <%=f.submit class:"drinkmenu", value: 'Push' %>
        </div>
        <div class="check_create_form2">
          <%= f.hidden_field :menuname, class: 'menuprice',  id: 'cd' %>
        </div>
        <div class="check_create_form3">
          <%= f.hidden_field :menuallprice, class: 'menuallprice', placeholder: '合計金額(半角数字)', id: 'ef'%>
        </div>
      <% end %>
    </div>
  </div>
</div>


      <SCRIPT>
        function myfunc(){
          var price = document.getElementById("ab");
          var price1 = document.getElementById("ab").value;
          var idx = price.selectedIndex;
          var txt = price.options[idx].text;
          var cup = document.getElementById("gh").value
          document.getElementById("ef").value = price1 * cup ;
          document.getElementById("cd").value = txt ;
        }
      </SCRIPT>
    